<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.edu.imut.jm.fair.domain.fair.dao.JournalFairDao">
	<resultMap id="FairInformationMap"
		type="cn.edu.imut.jm.fair.domain.fair.entity.FairInformation">
		<id column="fair_information_id" property="fairInformationId"
			jdbcType="INTEGER" />
		<result column="fair_name" property="fairName"
			jdbcType="VARCHAR" />
		<result column="fair_theme" property="fairTheme"
			jdbcType="VARCHAR" />
		<result column="fair_site" property="fairSite"
			jdbcType="VARCHAR" />
		<result column="fair_start_time" property="fairStartTime"
			jdbcType="DATE" />
		<result column="fair_end_time" property="fairEndTime"
			jdbcType="DATE" />
		<result column="fair_host" property="fairHost"
			jdbcType="VARCHAR" />
		<result column="sponsor" property="sponsor" jdbcType="VARCHAR" />
		<result column="organizer" property="organizer"
			jdbcType="VARCHAR" />
		<result column="fair_describe" property="fairDescribe"
			jdbcType="TEXT" />
		<result column="is_delete" property="isDelete" jdbcType="BIT" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="FairInformation_Column_List">
		fair_information_id, fair_name, fair_theme, fair_site, fair_start_time, fair_end_time,
		fair_host, sponsor, organizer,fair_describe, is_delete, user_id
	</sql>

	<select id="selectFairInformations" resultMap="FairInformationMap">
		select
		<include refid="FairInformation_Column_List" />
		from fair_information

	</select>
</mapper>