<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.edu.imut.jm.fair.domain.fair.dao.JournalFairDao">
	<!--借阅信息扩展类 -->
	<resultMap id="FairInformationMap"
		type="cn.edu.imut.jm.fair.domain.fair.entity.FairInformation">
		<id column="fair_information_id" property="fairInformationId"
			jdbcType="INTEGER" />
		<result column="fair_name" property="fairName"
			jdbcType="VARCHAR" />
		<result column="fair_theme" property="fairTheme"
			jdbcType="VARCHAR" />
		<result column="fair_site" property="fairSite"
			jdbcType="VARCHAR" />
		<result column="fair_start_time" property="fairStartTime"
			jdbcType="TIMESTAMP" />
		<result column="fair_end_time" property="fairEndTime"
			jdbcType="TIMESTAMP" />
		<result column="fair_host" property="fairHost"
			jdbcType="VARCHAR" />
		<result column="sponsor" property="sponsor" jdbcType="VARCHAR" />
		<result column="organizer" property="organizer"
			jdbcType="VARCHAR" />
		<result column="fair_img" property="fairImg" jdbcType="VARCHAR" />
		<result column="fair_describe" property="fairDescribe" jdbcType="LONGVARCHAR" />
		<result column="is_delete" property="isDelete"
			jdbcType="TINYINT" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
	</resultMap>

	<resultMap
		type="cn.edu.imut.jm.fair.domain.fair.valobj.JournalFairShowVo"
		id="JournalFairShowVoMap" extends="FairInformationMap">
		<association property="fairUserShow" column="user_id"
			javaType="cn.edu.imut.jm.fair.domain.fair.valobj.FairUserShowVo"
			select="selectFairUser"></association>
	</resultMap>
	<!-- 用户信息 -->
	<resultMap id="UserMap"
		type="cn.edu.imut.jm.fair.domain.fair.valobj.FairUserShowVo">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName"
			jdbcType="VARCHAR" />
		<result column="user_phone" property="userPhone"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectFairUser" parameterType="int"
		resultMap="UserMap">
		select user_name,user_phone from user where user_id
		=#{userId,jdbcType=INTEGER}
	</select>
	<sql id="FairInformation_Column_List">
		fair_information_id, fair_name, fair_theme, fair_site,
		fair_start_time, fair_end_time,
		fair_host, sponsor, organizer, fair_img,fair_describe, is_delete, user_id
	</sql>

	<!--查询 -->
	<select id="selectFairInformations"
		resultMap="JournalFairShowVoMap">
		select
		<include refid="FairInformation_Column_List" />
		from fair_information
		<where>
			<if test="isDelete !=null">
				and is_delete = #{isDelete,jdbcType=INTEGER}
			</if>
			<if test="overdue==1">
				and fair_end_time &lt; NOW()
			</if>
			<if test="overdue==0">
				and fair_end_time &gt; NOW()
			</if>
		</where>
		 order by fair_information_id desc
	</select>

	<!--查询 根据id -->
	<select id="selectFairInfoById" resultMap="JournalFairShowVoMap">
		select
		<include refid="FairInformation_Column_List" />
		from fair_information where
		fair_information_id=#{fairInformationId,jdbcType=INTEGER}
	</select>
	<!--创建新纪录 -->
	<insert id="insertFairInfo"
		parameterType="cn.edu.imut.jm.fair.domain.fair.entity.FairInformation"
		keyColumn="fair_information_id" keyProperty="fairInformationId"
		useGeneratedKeys="true">
		insert into fair_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fairInformationId != null">
				fair_information_id,
			</if>
			<if test="fairName != null">
				fair_name,
			</if>
			<if test="fairTheme != null">
				fair_theme,
			</if>
			<if test="fairSite != null">
				fair_site,
			</if>
			<if test="fairStartTime != null">
				fair_start_time,
			</if>
			<if test="fairEndTime != null">
				fair_end_time,
			</if>
			<if test="fairHost != null">
				fair_host,
			</if>
			<if test="sponsor != null">
				sponsor,
			</if>
			<if test="organizer != null">
				organizer,
			</if>
			<if test="fairImg != null">
				fair_img,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="fairDescribe != null">
				fair_describe,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fairInformationId != null">
				#{fairInformationId,jdbcType=INTEGER},
			</if>
			<if test="fairName != null">
				#{fairName,jdbcType=VARCHAR},
			</if>
			<if test="fairTheme != null">
				#{fairTheme,jdbcType=VARCHAR},
			</if>
			<if test="fairSite != null">
				#{fairSite,jdbcType=VARCHAR},
			</if>
			<if test="fairStartTime != null">
				#{fairStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="fairEndTime != null">
				#{fairEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="fairHost != null">
				#{fairHost,jdbcType=VARCHAR},
			</if>
			<if test="sponsor != null">
				#{sponsor,jdbcType=VARCHAR},
			</if>
			<if test="organizer != null">
				#{organizer,jdbcType=VARCHAR},
			</if>
			<if test="fairImg != null">
				#{fairImg,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="fairDescribe != null">
				#{fairDescribe,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateFairImage">
		update fair_information
		<set>
			<if test="_parameter != null">
				fair_img = #{fairImg,jdbcType=VARCHAR},
			</if>

		</set>
		where fair_information_id = #{fairInformationId,jdbcType=INTEGER}
	</update>
	<!-- 编辑 -->
	<update id="updateFairInfo"
		parameterType="cn.edu.imut.jm.fair.domain.fair.entity.FairInformation">
		update fair_information
		<set>
			<if test="fairName != null">
				fair_name = #{fairName,jdbcType=VARCHAR},
			</if>
			<if test="fairTheme != null">
				fair_theme = #{fairTheme,jdbcType=VARCHAR},
			</if>
			<if test="fairSite != null">
				fair_site = #{fairSite,jdbcType=VARCHAR},
			</if>
			<if test="fairStartTime != null">
				fair_start_time = #{fairStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="fairEndTime != null">
				fair_end_time = #{fairEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="fairHost != null">
				fair_host = #{fairHost,jdbcType=VARCHAR},
			</if>
			<if test="sponsor != null">
				sponsor = #{sponsor,jdbcType=VARCHAR},
			</if>
			<if test="organizer != null">
				organizer = #{organizer,jdbcType=VARCHAR},
			</if>
			<if test="fairImg != null">
				fair_img = #{fairImg,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="fairDescribe != null">
				fair_describe = #{fairDescribe,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where fair_information_id = #{fairInformationId,jdbcType=INTEGER}
	</update>
	
	<!-- 改变删除状态 -->
	<update id="updateJournalFairDel" parameterType="int">
		update fair_information
		<set>
			is_delete = 1,
		</set>
		where fair_information_id = #{fairInformationId,jdbcType=INTEGER}
	</update>
	<!--  彻底删除数据-->
	<delete id="deleteJournalFair" parameterType="java.lang.Integer">
		delete from
		fair_information
		where fair_information_id = #{fairInformationId,jdbcType=INTEGER}
	</delete>
	<!--批量改变删除状态 -->
	<update id="updateMultipleJournalFairDel"
		parameterType="java.util.List">
		update fair_information
		<set>
			is_delete = 1,
		</set>
		where fair_information_id in
		<foreach collection="list" item="fairInformationId" index="index"
			open="(" close=")" separator=",">
			#{fairInformationId,jdbcType=INTEGER}
		</foreach>
	</update>
	<!--批量 彻底删除  -->
	<delete id="deleteMultipleJournal"
		parameterType="java.util.List">
		delete from fair_information
		where fair_information_id in
		<foreach collection="list" item="fairInformationId" index="index"
			open="(" close=")" separator=",">
			#{fairInformationId,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>